cmake-build-debug
CMakeFiles
cmake_install.cmake
cTestTestfile.cmake
CMakeCache.txt
# Now we use CMake
Makefile
Makefile.dep
*.cbp
Testing
*Test
.idea
.vscode
*.log
**/a.out.*
**/*.out
**/*.dSYM
*.gch
*.o
tests/**/*.class
# for javap -version xxx.class
tests/**/*.classvp
# very simple c test
tests/test_simple.c
