cmake-build-debug
.idea
.vscode
CMakeLists.txt
test*.c
**/a.out.*
**/*.out
**/*.dSYM
*.gch
Makefile.dep
*.o
tests/**/*.class
# for javap -version xxx.class
tests/**/*.classvp
# very simple c test
tests/test_simple.c